.checkout-container {
  margin: 5%;
  font-family: "Merienda One", cursive;
}

.checkout-titles {
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  padding-bottom: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
}

.input-field {
  width: 70%;
  background-color: #edd3c5;
  color: #282828;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  margin: 0.2rem 0;
}

.input-field::placeholder {
  color: #5f5f5f;
}

.products-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-name {
  align-items: flex-start;
  text-align: left;
}

h4 {
  padding: 1rem 0;
  text-align: center;
}

.form-button {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  background-color: #e35f21;
  color: #ffffff;
  padding: 0.8rem 1.3rem;
  outline: none;
  border: transparent;
  border-radius: 5px;
}



.form-button a {
  text-decoration: none;
  color: #ffffff;
}



.form-button:hover {
  background-color: #8a3813;
  cursor: pointer;
}

.form-button:active {
  border-color: none;
}

.resumen-container {
  background-color: #edd3c5;
}

@media only screen and (max-width: 990px) {
  .form-button {
    width: 35%;
  }

  .input-field {
    width: 100%;
  }
}