.page-nosotros-container {
  display: flex;
  margin: 3rem 7rem;
}

h2 {
  padding-bottom: 2rem;
}

.nosotros-txt {
  text-align: left;
}

.fundadores-img {
  margin: 4rem 0 4rem 2rem;
}

.espacio-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.img-item {
  width: 33%;
}

@media only screen and (max-width: 900px) {
  .page-nosotros-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .nosotros-descripcion {
    padding: 1rem 1rem 0 1rem;
  }

  .fundadores-img img {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .txt-mobile {
    display: none;
  }
  .espacio-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
  }
  .img-item {
    width: 100%;
  }
}
